<div class="container">
  <h1>Stupid Coaching</h1>
  <h3>Ask your coach a question</h3>

  <form action="/answer">
    <input type="text" name = "question" id="field">
    <input type="submit" value ="Ask!" id="button">
  </form>
</div>
