// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Teko');

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 60px;
}


$grey: #EEEEEE;
$dark_grey: #444545;

body {
  background-color: $grey;
  color: $dark_grey;
  font-family: 'Roboto Mono', monospace;

}

input {
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
}

#field {
  width: 200px;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

#button {
  width: 80px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.card-clear {
  padding: 20px;
  border-radius: 5px;
    a {
  text-decoration: none;
  color: $dark_grey;
  font-weight: bold;
  }
}
